.ant-layout-header {
  padding: 0;
}
.ant-layout-header .logo {
  width: 200px;
  height: 63px;
  background: url('logo.png') no-repeat center center;
  background-color: #ffffff;
  background-size: contain;
  float: left;
}
