.ant-layout-header {
  padding-left: 0;
  padding-right: 10px;
}
.ant-layout-header .logo {
  width: 200px;
  height: 63px;
  background: url('logo.png') no-repeat center center;
  background-color: #ffffff;
  background-size: contain;
  float: left;
}
.ant-layout-header .ant-dropdown-link {
  float: right;
  color: #fff;
}
