.avatar-uploader > .ant-upload {
  width: 128px;
  height: 128px;
  border: 1px solid #ccc;
}
.avatar-uploader > .ant-upload img {
  width: 100%;
  height: 100%;
}
.avatar-uploader > .ant-upload .addImg {
  text-align: center;
  margin-top: 37px;
}
